.navbar {
    position: sticky;
     top: 0;
     z-index: 100;
     background-color: rgb(157, 206, 251);
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    
      .logo {
        height: 90%;
        width: 70px;
        padding: 5px 25px;
      }
}