.navbar {
    // position: sticky;
     top: 0;
     z-index: 100;
     background-color: rgb(214, 192, 67);
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    
      .logo {
        height: 90%;
        width: 70px;
        padding: 3px 25px; 
      }
      .menu-icon {
          height: 90%;
          width: 20px;
          position: relative;
          right: 0;
      }
}